.home-grid {
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    
}

.headline-text {
    background-color: black;
    opacity: .8;
    width: 100%;
    margin: auto;
    border-radius: 25px;

}

.headline-text h1 {
    font-size: 500px;
    font-weight: bold;
    color:whitesmoke;
    padding: 10px;
}

.headline-text hr {
    
}

.headline-text p {
    color: whitesmoke;
    font-size: 18px;
    padding: 1em;
}

.social-links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    margin: auto;
    
}

.social-links i {
    color: whitesmoke;
}

.layout-design {
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    

}